<div class="container">
    <div class="container text-center" style="margin: 30px;">
        <h1>Agregar Usuario</h1>
    </div>
    <form (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label for="userName" class="form-label">Nombre del Usuario</label>
            <input type="text" step="any" class="form-control" id="userName" name="userName" [(ngModel)]="user.userName" required>
        </div>
        <div class="mb-3">
            <label for="rol" class="form-label">Rol</label>
            <input type="text" class="form-control" id="rol" name="rol" required="true" [(ngModel)]="user.role" required>
        </div>
        <div class="mb-3">
            <label for="contraseña" class="form-label">Contraseña</label>
            <input type="text" step="any" class="form-control" id="contraseña" name="contraseña" [(ngModel)]="user.password" required>
        </div>
        <div class="container text-center">
            <button type="submit" class="btn btn-success">Agregar</button>
            <button type="button" style="margin-inline: 30px;" class="btn btn-info" (click)="clearForm()">Limpiar</button>
            <a href="/users" class="btn btn-warning">Regresar</a>
        </div>
    </form>
</div>